<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Robin Collet">
    <title>Responsive Tag / Topic Example for Tagging</title>
    <!-- Get tailwind in here from a CDN because these are just static examples. -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>

    <!--
    Center the section for this example
    In a normal use-case you might want to use the padding utilities from tailwind.
    -->
    <section class="min-h-screen flex items-center justify-center">

      <div class="flex flex-wrap mt-2">

        <span class="inline-block transition duration-500 ease-in-out bg-pink-400 hover:bg-pink-600 rounded-full px-3 py-1 mt-2 text-white font-semibold mr-2 shadow-md cursor-pointer">
          Pink Example
        </span>

        <span class="inline-block transition duration-500 ease-in-out bg-purple-400 hover:bg-purple-600 rounded-full px-3 py-1 mt-2 text-white font-semibold mr-2 shadow-md cursor-pointer">
          Purple Example
        </span>

        <span class="inline-block transition duration-500 ease-in-out bg-indigo-400 hover:bg-indigo-600 rounded-full px-3 py-1 mt-2 text-white font-semibold mr-2 shadow-md cursor-pointer">
          Indigo Example
        </span>

        <span class="inline-block transition duration-500 ease-in-out bg-orange-400 hover:bg-orange-600 rounded-full px-3 py-1 mt-2 text-white font-semibold mr-2 shadow-md cursor-pointer">
          Orange Example
        </span>

        <span class="inline-block transition duration-500 ease-in-out bg-blue-400 hover:bg-blue-600 rounded-full px-3 py-1 mt-2 text-white font-semibold mr-2 shadow-md cursor-pointer">
          Blue Example
        </span>

      </div>

    </section>

  </body>
</html>